<!-- Start main-content -->
<section class="page-title" style="background-image: url(../../../assets/images/contact-us.jpg);">
    <div class="auto-container">
        <div class="title-outer">
            <h1 class="title">Connect with HeadFord</h1>
            <ul class="page-breadcrumb">
                <li><a routerLink="contact">Home</a></li>
                <li>Contact Us</li>
            </ul>
        </div>
    </div>
</section>
<!-- end main-content -->

<!--Contact Details Start-->
<section class="contact-details">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="contact-details__right">
                    <div class="sec-title">
                        <h2>We would love to hear from you.</h2>
                        <p class="text mb-4">Interested in working for or partnering with Ironpaper? Job applicants, please visit our <a routerLink="">jobs section</a> or <a routerLink="">apply online using our jobs form</a>.</p>
                        <h2>Meet the Founder</h2>
                        <img src="../../../assets/images/founder-img.png" alt="" class="icon width100 mt-4 mb-3">
                        <h3>John, Founder & CEO</h3>
                        <p>Jonathan loves helping remarkable companies grow. It's a passion. He also loves building systems and practices that help the HeadFord team grow, develop their passions, and make work purpose-driven.</p>

                        <p>A graduate of the Cooper Union, Jonathan likes to apply his alma mater's founding principles - to create a union of science and of art. "I founded HeadFord in 2003 with these sort of unions in mind, whether between design and technology, marketing and sales, or between our clients and ourselves."</p>

                        <p><a routerLink="">Meet the Ironpaper team</a></p>
                    </div>
                    
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="contact-form">
                <div class="sec-title">
                    <span class="sub-title">Learn More</span>
                    <h2>Request A Proposal</h2>
                </div>
                <!-- Contact Form -->
                <form id="contact_form" name="contact_form" class=""  method="post">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label>Purpose*</label>
                                <input name="form_name" class="form-control" type="text" placeholder="Enter purpose">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label>Company Name*</label>
                                <input name="form_subject" class="form-control required" type="text" placeholder="Enter Company Name">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label>Email Address*</label>
                                <input name="form_email" class="form-control required email" type="email" placeholder="Enter Email Address">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label>First Name*</label>
                                <input name="form_phone" class="form-control" type="text" placeholder="Enter First Name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label>Last Name*</label>
                                <input name="form_phone" class="form-control" type="text" placeholder="Enter Last Name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label>Are you interested in getting Ironpaper’s help on any of the following:</label>
                                <input type="checkbox" /> Improving lead generation<br/>
                                <input type="checkbox" /> Improving messaging<br/>
                                <input type="checkbox" /> Improving our website<br/>
                                <input type="checkbox" /> A better strategy<br/>
                                <input type="checkbox" /> Improve our buyer’s journey<br/>
                                <input type="checkbox" /> Better visibility in market<br/>
                                <input type="checkbox" /> Connect marketing and sales efforts<br/>
                                <input type="checkbox" /> Better insights to drive action<br/>
                                <input type="checkbox" /> Getting things done<br/>
                                <input type="checkbox" /> Improve ROI and attribution<br/>
                                <input type="checkbox" /> Outreach via cold calls or emails<br/>
                                <input type="checkbox" /> Another area<br/>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <input name="form_botcheck" class="form-control" type="hidden" value="" />
                        <button type="submit" class="theme-btn btn-style-one" data-loading-text="Please wait..."><span class="btn-title">Contact With Us</span></button>
                        
                    </div>
                </form>
                </div>
                <!-- Contact Form Validation-->
            </div>
            
        </div>
    </div>
</section>
<!--Contact Details End-->

<!--Contact Details Start-->
<section class="contact-details">
    <div class="container pt-0 pb-5">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <img src="../../../assets/images/contact-img01.jpg" alt="" class="icon width100 mb-3">
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="contact-details__right">
                    <div class="sec-title mt-5">
                    <h3>HeadFord NYC headquarters</h3>
                        <p class="text mb-4">HeadFord is headquartered in New York City, but our team of 70 full-time marketers, strategists, designers, writers, technologists, developers, growth specialists, and leaders live throughout the US.</p>
                        
                        <p>HeadFord Pvt Ltd.<br/>
                            10 E 33rd ST <br/>
                            6th Floor<br/>
                            New York, NY 10018</p>
                    </div>
                    
                </div>
               
            </div>
            
        </div>
    </div>
</section>
<!--Contact Details End-->

<!--Contact Details Start-->
<section class="contact-details ct-bg">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-xl-12 col-lg-6">
                <div class="contact-details__right text-center">
                    <div class="sec-title">
                        <h4>We are passionate about helping remarkable companies grow. We solve challenges that <a routerLink="">hold businesses back. We love it.</a></h4>
                        
                    </div>
                    
                </div>
            </div>
           
        </div>
    </div>
</section>
<!--Contact Details End-->

<!--Contact Details Start-->
<section class="contact-details">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="contact-details__right">
                    <div class="sec-title mt-5">
                        <h2>We love what we do.</h2>
                        <p class="text mb-4">Ironpaper has a learning culture. We believe in continuous improvement. Anyone who joins the Ironpaper team commits to improving themselves, building new skills, supporting others, and taking the first step into a learning adventure of a lifetime.</p>
                      
                    </div>
                    
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <img src="../../../assets/images/contact-img02.jpg" alt="" class="icon width100 mb-3">
            </div>
            
        </div>
    </div>
</section>
<!--Contact Details End-->

<!-- Divider: Google Map -->
<section>
    <div class="container-fluid p-0">
        <div class="row">
            <!-- Google Map HTML Codes -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.667968663185!2d-73.98708012443343!3d40.74733103545251!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a848050afd%3A0xb5c276e823943d9d!2s10%20E%2033rd%20St%206th%20Floor%2C%20New%20York%2C%20NY%2010016%2C%20USA!5e0!3m2!1sen!2sin!4v1701692412050!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>