<!-- Start main-content --> 
<section class="page-title" style="background-image: url(../../../assets/images/mk/mk-img01.png);">
    <div class="auto-container">
        <div class="title-outer">
            <h1 class="title">Narrowing <br/><span>the digital divide</span></h1>
            <ul class="page-breadcrumb">
                <li><a routerLink="contact">Home</a></li>
                <li>Marketing</li>
            </ul>
        </div>
    </div>
</section>
<!-- end main-content -->


<!--Contact Details Start-->
<section class="contact-details">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="contact-details__right con-markbg">
                    <div class="sec-title">
                        <h2>Marketing must drive results.</h2>
                        
                        <p class="text mb-3">Ironpaper is a B2B marketing agency obsessed with acquiring and nurturing qualified leads.</p>

                        <p class="text mb-3">We provide strategy and execution for companies that need their investment in marketing to drive business growth. We focus on moving the needle for sales.</p>
                        
                        <img src="../../../assets/images/mk/mk-img02.png" alt="" class="icon width100 mt-4 mb-3 pb-4">

                        <p class="text mb-3">Marketing must have an impact. Our work focuses on true business metrics that scale over time, including conversion rates and qualified lead generation.</p>

                        <img src="../../../assets/images/mk/mk-img03.png" alt="" class="icon width100 mt-4 mb-3 pb-4">
                       
                    </div>
                    
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="contact-form">
                <div class="sec-title">
                    <span class="sub-title">Learn More</span>
                    <h2>Request A Proposal</h2>
                </div>
                <!-- Contact Form -->
                <form id="contact_form" name="contact_form" class=""  method="post">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label>Purpose*</label>
                                <input name="form_name" class="form-control" type="text" placeholder="Enter purpose">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label>Company Name*</label>
                                <input name="form_subject" class="form-control required" type="text" placeholder="Enter Company Name">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label>Email Address*</label>
                                <input name="form_email" class="form-control required email" type="email" placeholder="Enter Email Address">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label>First Name*</label>
                                <input name="form_phone" class="form-control" type="text" placeholder="Enter First Name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label>Last Name*</label>
                                <input name="form_phone" class="form-control" type="text" placeholder="Enter Last Name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label>Are you interested in getting Ironpaper’s help on any of the following:</label>
                                <input type="checkbox" /> Improving lead generation<br/>
                                <input type="checkbox" /> Improving messaging<br/>
                                <input type="checkbox" /> Improving our website<br/>
                                <input type="checkbox" /> A better strategy<br/>
                                <input type="checkbox" /> Improve our buyer’s journey<br/>
                                <input type="checkbox" /> Better visibility in market<br/>
                                <input type="checkbox" /> Connect marketing and sales efforts<br/>
                                <input type="checkbox" /> Better insights to drive action<br/>
                                <input type="checkbox" /> Getting things done<br/>
                                <input type="checkbox" /> Improve ROI and attribution<br/>
                                <input type="checkbox" /> Outreach via cold calls or emails<br/>
                                <input type="checkbox" /> Another area<br/>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <input name="form_botcheck" class="form-control" type="hidden" value="" />
                        <button type="submit" class="theme-btn btn-style-one" data-loading-text="Please wait..."><span class="btn-title">Contact With Us</span></button>
                        
                    </div>
                </form>
                </div>
                <!-- Contact Form Validation-->
            </div>
            
        </div>
    </div>
</section>
<!--Contact Details End-->

<!--Contact Details Start-->
<section class="contact-details">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="contact-details__right digital-head4 text-center">
                    <div class="sec-title mt-2">
                        <h2>Digital marketing should drive your <span>opportunity pipeline.</span></h2>
                   </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12">
                <img src="../../../assets/images/mk/mk-img04.png" alt="" class="icon width100 mb-3">
            </div>
        </div>
    </div>
</section>
<!--Contact Details End-->


<!--Contact Details Start-->
<section class="contact-details">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-xl-6 col-lg-6 ">
                <img src="../../../assets/images/mk/mk-img05.png" alt="" class="icon width100 mb-3">
            </div>
             <div class="col-xl-6 col-lg-6">
                <div class="contact-details__right digital-head4">
                    <div class="sec-title mt-2 pt-5">
                    <h2><span>Digital marketing</span> must be measurable.</h2>
                    
                    <p class="text mt-3">The results of digital marketing are measurable. Engagement, conversion, and attribution metrics are the guide rails for tracking the outcomes of marketing investments. </p>
                    <p class="text mt-3">Growing businesses need qualified leads from their marketing programs. Traffic and clicks do not sustain and grow a B2B company.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!--Contact Details End-->

<!--Contact Details Start-->
<section class="contact-details">
    <div class="container pt-5 pb-5">
        <div class="row">
            
             <div class="col-xl-6 col-lg-6">
                <div class="contact-details__right digital-head4">
                    <div class="sec-title mt-2 ">
                    <h4><strong>We focus on the metrics that matter most. The metrics we prioritize:</strong></h4>
                    <ul>
                        <li>Leads generated monthly (by channel, campaign, and target buying group)</li>
                        <li>Qualified leads generated</li>
                        <li>The conversion rates for qualified leads per channel and campaign</li>
                        <li>Target accounts engaged and converted</li>
                        <li>Sales opportunities generated from marketing channels</li>
                    </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 pt-5">
                <img src="../../../assets/images/mk/mk-img06.png" alt="" class="icon width100 mb-3">
            </div>
            
        </div>
    </div>
</section>
<!--Contact Details End-->

<!--Contact Details Start-->
<section class="contact-details" style="background:#1e1e1e; background-size:100%;">
    <div class="container pt-8 pb-8">
        <div class="row">
            
            <div class="col-xl-6 col-lg-6">
                <div class="contact-details__right digital-head3">
                    <div class="sec-title mt-4">
                       
                    <h2>Improve your <span>buyer's journey.</span> <br/>Communicate a clear value proposition.</h2>
                   <p class="text mb-3">Our approach to B2B digital marketing is a hybrid of demand generation and account-based marketing. Our B2B specialization allows us to stand up campaigns quickly and address buyer needs with clarity.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <img src="../../../assets/images/mk/mk-img07.png" alt="" class="icon width100 mb-3">
            </div>
    </div>
    </div>
</section>
<!--Contact Details End-->



<!--Contact Details Start-->
<section class="contact-details">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <img src="../../../assets/images/mk/mk-img08.png" alt="" class="icon width100 mb-3">
            </div>
             <div class="col-xl-6 col-lg-6 pt-5">
                <div class="contact-details__right digital-head4">
                    <div class="sec-title mt-2">
                    <h2>We are obsessed with measurable growth.</h2>
                    <h4><strong>HeadFord is a growth partner. Our team combines the critical skills needed to drive results.</strong></h4>
                    <p class="text mt-3">As a results-driven digital marketing agency, Ironpaper partners with clients to achieve business goals. We provide digital marketing solutions that are data-driven and improved continually. Our campaigns are strategically designed to convert your existing customers, attract new ones, and optimized for success.</p>

                   
                    
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!--Contact Details End-->


<!--Contact Details Start-->
<section class="contact-details" style="background:#F5F2E9; background-size:100%;">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="contact-details__right digital-head4 text-center">
                    <div class="sec-title mt-2">
                        <h2>A better buyer's journey: <span>From marketing to sales</span></h2>
                        <p class="text mt-2">Ironpaper uses the inbound marketing methodology to attract, convert, and close leads into customers. We utilize a range of targeted content and digital assets to measurably fill your sales funnel.</p>
                   </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12">
                <img src="../../../assets/images/mk/mk-img09.png" alt="" class="icon width100 mb-3">
            </div>
        </div>
    </div>
</section>
<!--Contact Details End-->

<!--Contact Details Start-->
<section class="contact-details">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-xl-6 col-lg-6 pt-5">
                <div class="contact-details__right digital-head4">
                    <div class="sec-title mt-2">
                        <h2>B2B marketing specialization</h2>
                        <p class="text mt-2">We provide marketing strategy and execution for B2B organizations. Specialization is important to us. We love to move fast in standing up digital marketing campaigns. We measure results instead of tracking superfluous data.
                            We bring together the following disciplines to drive growth for B2B:</p>>
                   
                   </div>
                </div>
            </div>
            <div class="col-xl-1 col-lg-1"></div>
            <div class="col-xl-5 col-lg-5">
                <img src="../../../assets/images/mk/mk-img10.png" alt="" class="icon width100 mb-3">
            </div>
        </div>
    </div>
</section>
<!--Contact Details End-->

<!--Contact Details Start-->
<section class="contact-details">
    <div class="container pt-5 pb-5">
        <div class="row">
             <div class="col-xl-6 col-lg-6">
                <div class="contact-details__right digital-head4">
                    <div class="sec-title mt-2">
                   
                    <ul>
                        <li>Digital marketing for B2B companies</li>
                        <li>Account-based marketing</li>
                        <li>Demand generation</li>
                        <li>Value propositions</li>
                        <li>Conversion strategy & optimization</li>
                        <li>Content and messaging</li>
                    </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="contact-details__right digital-head4">
                    <div class="sec-title mt-2">
                    
                    <ul>
                        <li>Marketing-to-sales alignment</li>
                        <li>Lead generation</li>
                        <li>Email, SEO, and social</li>
                        <li>Campaigns</li>
                        <li>Websites & microsites</li>
                        <li>Reporting, attribution, and analytics</li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Contact Details End-->

<!--Contact Details Start-->
<section class="contact-details">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-xl-5 col-lg-5">
                <img src="../../../assets/images/mk/mk-img11.png" alt="" class="icon width100 mb-3">
            </div>
            <div class="col-xl-1 col-lg-1"></div>
            <div class="col-xl-6 col-lg-6 pt-2">
                <div class="contact-details__right digital-head4">
                    <div class="sec-title mt-2">
                        <h2>Marketing must <span>move the needle</span> for business</h2>
                        <h4><strong>Our work focuses on activities and actions that drive three core metrics</strong></h4>
                        <p class="text mt-2">By having such a pointed focus, we are able to move faster and cut through the clutter that exists in the marketing industry today.</p>
                   
                   </div>
                </div>
            </div>
            
            
        </div>
    </div>
</section>
<!--Contact Details End-->

<!--Contact Details Start-->
<section class="contact-details" style="background:#1e1e1e; background-size:100%;">
    <div class="container pt-8 pb-8">
        <div class="row">
            
            <div class="col-xl-10 col-lg-10">
                <div class="contact-details__right digital-head3">
                    <div class="sec-title mt-4">
                       
                    <h2>One of the top four priorities for <span>700+ CMOs</span> is to inject data-driven insights
                        into every marketing decision.</h2>
                   <p class="text mb-3">- IBM SURVEY</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2">
               
            </div>
    </div>
    </div>
</section>
<!--Contact Details End-->

<!--Contact Details Start-->
<section class="contact-details">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <img src="../../../assets/images/mk/mk-img12.png" alt="" class="icon width100 mb-3">
            </div>
           
            <div class="col-xl-6 col-lg-6 pt-2">
                <div class="contact-details__right digital-head4">
                    <div class="sec-title mt-2">
                        <h2>Digital marketing <span>must drive</span> buyer engagement.</h2>
                        <p class="text mt-2">Our specialties include B2B marketing, account-based marketing (ABM), qualified lead generation, content strategy, content creation, messaging systems, conversion rate improvements, and sales opportunity nurturing.</p>
                   
                   </div>
                </div>
            </div>
            
            
        </div>
    </div>
</section>
<!--Contact Details End-->

<!--Contact Details Start-->
<section class="contact-details" style="background:#F5F2E9; background-size:100%;">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="contact-details__right digital-head4 text-center">
                    <div class="sec-title mt-2">
                        <h2><span>Accelerate marketing progress.</span> We focus on<br/> the results that matter for growth.</h2>
                        
                   </div>
                </div>
            </div>
           
        </div>
    </div>
</section>
<!--Contact Details End-->

<!--Contact Details Start-->
<section class="contact-details">
    <div class="container pt-5 pb-5">
        <div class="row">
           
           
            <div class="col-xl-6 col-lg-6 pt-2">
                <div class="contact-details__right digital-head4">
                    <div class="sec-title mt-2">
                        <h2>A digital marketing playbook for growth.</h2>
                        <p class="text mt-2">Our clients need both strategy and execution. Ironpaper's approach to developing a marketing playbook is to focus on what drives results, testing new concepts using business-aligned metrics, and iteration for improvement.</p>
                       <ul>
                        <li>Conduct an audit and make recommendations</li>
                        <li>Share insights and a roadmap for action</li>
                        <li>Define a conversion strategy</li>
                        <li>Set goals and a timeline of priorities</li>
                        <li>Use data to drive future actions</li>
                       </ul>
                   </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <img src="../../../assets/images/mk/mk-img13.png" alt="" class="icon width100 mb-3">
            </div>
            
        </div>
    </div>
</section>
<!--Contact Details End-->




<!--Contact Details Start-->
<section class="contact-details">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <img src="../../../assets/images/mk/mk-img14.png" alt="" class="icon width100 pt-3">
            </div>
             <div class="col-xl-6 col-lg-6">
                <div class="contact-details__right digital-head4">
                    <div class="sec-title mt-2">
                    <h2>Strategy and Execution, Aligned</h2>
                    <p class="text mt-3">We see our mission as influencing strategy while providing agile execution. Starting with our Playbook, we craft a game plan designed to drive your business goals and align the right activities</p>
                    <p class="text mt-3">Our marketing solutions are data-driven and strategically designed to attract new leads, convert prospects, and improve lead quality over time.</p>
                   
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>
<!--Contact Details End-->

<!--Contact Details Start-->
<section class="contact-details">
    <div class="container pt-5 pb-5">
        <div class="row">
             <div class="col-xl-6 col-lg-6">
                <div class="contact-details__right digital-head4">
                    <div class="sec-title mt-2">
                    <h2><span>Adapt to changing</span> market conditions.</h2>
                    <h4><strong>We focus on transforming marketing investments into business drivers.</strong></h4>
                    <p class="text mt-3">We care about the impact of our work. We cut wasted processes and invest in programs that move the "business needle" using an agile-LEAN model for management. Our work combines strategy and execution with smart, data-driven insights. We audit and create an adaptive strategy.</p>

                    <ul>
                        <li>Account-based marketing</li>
                        <li>Demand generation</li>
                        <li>Inbound</li>
                    </ul>
                   
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <img src="../../../assets/images/mk/mk-img15.png" alt="" class="icon width100 mb-3">
            </div>
        </div>
    </div>
</section>
<!--Contact Details End-->

<!--Contact Details Start-->
<section class="contact-details">
    <div class="container pt-5 pb-5">
        <div class="row">
             <div class="col-xl-6 col-lg-6">
                <div class="contact-details__right digital-head4">
                    <div class="sec-title mt-2 pt-5">
                    <h2>What services does a B2B digital marketing agency provide?</h2>
                    
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="contact-details__right digital-head4">
                    <div class="sec-title mt-2">
                    <p class="text mt-3">Digital marketing agencies can be specialized or offer a wide variety of interrelated services. Ironpaper focuses on generating outcomes from marketing--instead of merely being a production agency. We feel that production agencies tend to fall short when driving business results.</p>

                    <p class="text mt-3">Our mission is to provide a full set of services that allow B2B companies to grow faster by gaining qualified leads, engagement pathways, sales opportunities, and better customer engagements.</p>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Contact Details End-->

<!--Contact Details Start-->
<section class="contact-details">
    <div class="container pt-5 pb-5">
        <div class="row">
             <div class="col-xl-12 col-lg-12">
                <div class="contact-details__right digital-head4">
                    <div class="sec-title mt-2">
                    <h2>We are a digital marketing firm <span>focused on growth metrics.</span></h2>
                    <p class="text mt-3">Ironpaper is a digital marketing agency that helps companies improve their pipeline and drive new business. We help our clients solve growth challenges.
                    <p class="text mt-3">As a B2B digital marketing agency, we generate qualified leads, nurture relationships, improve buyer engagement, build awareness, and improve opportunity creation.</p>
                   <h3>Does your marketing drive business results? Does your marketing focus on the metrics that matter?</h3>
                   <p class="text mt-3">Marketing must drive business gains. Instead of producing more stuff that doesn't matter, we transform marketing into a results engine. We use data to inform decisions and audit the performance of past campaigns.</p>
                    <h3>Does your marketing generate traction with ideal customers?</h3>
                    <p class="text mt-3">We act as a partner for growth. We connect the dots. We help clients integrate marketing, technology, analytics, and design to achieve business goals. We are the strategy and execution engine to help companies grow, compete, and succeed.</p>
                    <h6>Digital marketing agency in New York City</h6>

                    <ul>
                        <li> Generate more qualified leads
                            <li>Increase revenue and sales opportunities
                                <li>Improve website conversions
                                    <li>Improve search engine visibility
                                        <li>Gain brand visibility
                                            <li>Convert more leads to sales opportunities
                                                <li>Reduce customer attrition</li>
                    </ul>
                </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!--Contact Details End-->



