.page-title .title {
    font-size: 56px !important;
    color: #ffffff;
    margin-bottom: 17px;
    line-height: 65px;
}

.page-title .title span{
    color: #F9672A;
}

.form-control, .input-text {
    height: calc(2.25rem + 20px);
    padding: 4px 19px;
    outline: 0;
    background-color: #f4f5f8;
    border: 1px solid #f4f5f8;
    color: #686a6f;
    font-size: 0.9rem;
    width: 100%;
}

.contact-form h2{
    font-size: 28px;
}

.page-title:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #131313;
    opacity: 0 !important;
    content: "";
}

.contact-details__right h2{
    font-size:42px !important; 
}

.contact-details__right p{
    font-size:18px !important; 
    color: #323232;
}

.contact-details__right p a{
    font-size:18px !important; 
    color: #f9672a;
}

.width100{
    width: 100%;
}

.digital-head h2{
    font-size:44px !important; 
    line-height:48px;
    color: #353536;
    font-weight: 600;
    

}

.digital-head h4{
    font-size:24px !important; 
    line-height:32px;
    color: #0861CE;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;

}

.digital-head2 h4{
    font-size:36px !important; 
    line-height:38px;
    color: #0861CE;
    font-weight: 600;
    margin-bottom: 15px;

}

.digital-head2 h2{
    font-size:44px !important; 
    line-height:48px;
    color: #353536;
    font-weight: 600; 

}

.digital-head3 h4{
    font-size:36px !important; 
    line-height:38px;
    color: #F9672A;
    font-weight: 600;
    margin-bottom: 15px;

}

.digital-head3 h2{
    font-size:44px !important; 
    line-height:48px;
    color: #ffffff;
    font-weight: 500; 

}

.digital-head3 p{
    font-size:24px !important; 
    line-height:32px;
    color: #ffffff;
    font-weight: 400; 

}


.digital-head3 h4{
    font-size:36px !important; 
    line-height:38px;
    color: #F9672A;
    font-weight: 600;
    margin-bottom: 15px;

}

.digital-head3 h2{
    font-size:44px !important; 
    line-height:48px;
    color: #ffffff;
    font-weight: 500; 

}

.digital-head3 p{
    font-size:24px !important; 
    line-height:32px;
    color: #ffffff;
    font-weight: 400; 

}

.digital-head4 h2{
    font-size:44px !important; 
    line-height:48px;
    color: #353536;
    font-weight: 600; 
}

.digital-head4 h2 span{
    color: #F9672A;

}

.digital-head4 h4{
    font-size:24px !important; 
    line-height:28px;
    color: #323232;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 25px;

}

.digital-head4 ul{
    margin-top: 15px;
    margin-left: 25px;
    list-style: bu;
}

.digital-head4 ul li{
    font-size: 20px;
    color: #323232;
    line-height:35px;
    list-style: disc;
}


.digital-head6 h4{
    font-size:34px !important; 
    line-height:38px;
    color: #F9672A;
    font-weight: 600;
    margin-bottom: 15px;

}

.digital-head6 h2{
    font-size:44px !important; 
    line-height:48px;
    color: #ffffff;
    font-weight: 500; 

}

.digital-head6 p{
    font-size:24px !important; 
    line-height:32px;
    color: #ffffff;
    font-weight: 400; 

}

.digital-head7 h2{
    font-size:44px !important; 
    line-height:48px;
    color: #353536;
    font-weight: 600; 
}

.digital-head7 h2 span{
    color: #F9672A;

}

.digital-head7 h4{
    font-size:24px !important; 
    line-height:28px;
    color: #323232;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 25px;

}





.ct-bg{
    background: #F5F2E9;
}

.width100{
    padding-left: 25px;
    padding-right: 30px;
}

