<!-- Start main-content --> 
<section class="page-title" style="background-image: url(../../../assets/images/da/digital-agency-img01.jpg);">
    <div class="auto-container">
        <div class="title-outer">
            <h1 class="title">Digital Agency <br/><span>B2B Marketing & Sales</span></h1>
            <ul class="page-breadcrumb">
                <li><a routerLink="contact">Home</a></li>
                <li>Digital Agency</li>
            </ul>
        </div>
    </div>
</section>
<!-- end main-content -->

<!--Contact Details Start-->
<section class="contact-details">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="contact-details__right digital-head">
                    <div class="sec-title mt-2">
                    <h2>HeadFord is a digital growth agency</h2>
                    <h4>Ironpaper is a digital agency that specializes in the B2B buyer's journey.</h4>
                        <p class="text mb-4">Our mission is to help our clients achieve growth through marketing and sales. We seek to unify the marketing and sales journey to deliver a more remarkable buyer experience and, ultimately, drive growth for our clients.</p>
                   </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <img src="../../../assets/images/da/digital-agency-img02.png" alt="" class="icon width100 mb-3">
            </div>
        </div>
    </div>
</section>
<!--Contact Details End-->

<!--Contact Details Start-->
<section class="contact-details" style="background-image: url(../../../assets/images/da/digital-agency-img03.jpg); background-size:100%;">
    <div class="container pt-8 pb-8">
        <div class="row">
            
            <div class="col-xl-6 col-lg-6">
                <div class="contact-details__right digital-head3">
                    <div class="sec-title mt-4">
                    <h4>OUR METHODOLOGY</h4>
                    <h2>We are builders and strategists</h2>
                    </div>
                    
                </div>
               
            </div>

            <div class="col-xl-6 col-lg-6">
                <div class="contact-details__right digital-head3">
                    <div class="sec-title mt-2">
                        <p class="text mb-4">Our team is made up of individuals who like to create, build, learn, and think. We are committed to solving growth challenges related to the buyer's journey. Our work is an intersection of creative strategy and data-driven decision making.</p>  
                    </div>
                    
                </div>
            
        </div>
    </div>
    </div>
</section>
<!--Contact Details End-->


<!--Contact Details Start-->
<section class="contact-details">
    <div class="container pt-5 pb-5">
        <div class="row">


            <div class="col-xl-6 col-lg-6">
                <img src="../../../assets/images/da/digital-agency-img04.png" alt="" class="icon width100 mb-3">
            </div>
            
            <div class="col-xl-6 col-lg-6">
                <div class="contact-details__right digital-head2">
                    <div class="sec-title mt-4">
                    <h4>Mission Matters</h4>
                    <h2>We are obsessed with growth.</h2>
                    <p class="text mb-4">Our mission is to help B2B companies improve their buyer's journey and generate more sales opportunities. Digital is a remarkable opportunity for B2B companies in most industries.</p>
                        
                    </div>
                    
                </div>
               
            </div>

            
            
        </div>
    </div>
</section>
<!--Contact Details End-->


<!--Contact Details Start-->
<section class="contact-details">
    <div class="container pt-5 pb-5">
        <div class="row">
            
            <div class="col-xl-6 col-lg-6">
                <div class="contact-details__right digital-head4">
                    <div class="sec-title mt-5">
                    <h2>Results-driven <span>digital marketing.</span> Union of art and <span>science.</span></h2>
                    <h4>Our goals are simple.We focus on three core key metrics:</h4>
                    <ul>
                        <li>Increase qualified leads</li>
                        <li>Improve conversion rates</li>
                        <li>Generate opportunities</li>
                    </ul>
                    </div>
                    
                </div>
               
            </div>

            <div class="col-xl-6 col-lg-6">
                <img src="../../../assets/images/da/digital-agency-img05.png" alt="" class="icon width100 mb-3">
            </div>

            
            
        </div>
    </div>
</section>
<!--Contact Details End-->


<!--Contact Details Start-->
<section class="contact-details">
    <div class="container pt-5 pb-5">
        <div class="row">


            <div class="col-xl-6 col-lg-6">
                <img src="../../../assets/images/da/digital-agency-img06.jpg" alt="" class="icon width100 mb-3">
            </div>
            
            <div class="col-xl-6 col-lg-6">
                <div class="contact-details__right digital-head5">
                    <div class="sec-title mt-5">
                    
                    <h2>Analytics, agility, action</h2>
                    <p class="text mb-4">Teams collaborate on solving challenges and reaching goals. We believe that collaboration and the spirit of innovation can go hand-in-hand. We bring together designers, marketers, writers, engineers, and account leadership to build agile go-to-market approaches.</p>
                        
                    </div>
                    
                </div>
               
            </div>

            
            
        </div>
    </div>
</section>
<!--Contact Details End-->

<!--Contact Details Start-->
<section class="contact-details" style="background-image: url(../../../assets/images/da/digital-agency-img07.png); background-size:100%;">
    <div class="container pt-5 pb-5">
        <div class="row">
            
            <div class="col-xl-6 col-lg-6 pt-5">
                <div class="contact-details__right digital-head6 pt-4">
                    <div class="sec-title mt-5">
                    <h4>OUR MISSION</h4>
                    <h2>Strategy and<br/>
                        execution</h2>
                    </div>

                    <p class="text mb-4">A strategic partnership for growth. Our mission is to align marketing and sales (creating a remarkable buyer journey) in order to drive more opportunities for clients.</p>  
                   
                </div>
               
            </div>

            <div class="col-xl-6 col-lg-6">
                <img src="../../../assets/images/da/digital-agency-img08.png" alt="" class="icon width100 mb-3">
            </div>
    </div>
    </div>
</section>
<!--Contact Details End-->



<!--Contact Details Start-->
<section class="contact-details">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <img src="../../../assets/images/da/digital-agency-img09.jpg" alt="" class="icon width100 mb-3">
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="contact-details__right digital-head7">
                    <div class="sec-title mt-5">
                        <h2>Build. Measure. <span>Convert.</span></h2>
                        <h4>Ironpaper helps organizations use the digital space to grow their business and increase market share.</h4>
                        <p class="text mb-4">We cross the boundaries of the digital skill divide. Our work blends content, strategy, design, technology, marketing, sales, and business consulting in order to solve real-world growth issues for our clients. We care deeply about growth, and we work hard to cut through the clutter and obstacles that prevent prospects from becoming buyers.</p>
                      
                    </div>
                    
                </div>
            </div>
           
            
        </div>
    </div>
</section>
<!--Contact Details End-->